<div class="row my-5">
    <h3 class="text-center">Editando Estudiante con id: {{student.id}}</h3>
    <form id="form" class="col-4 mx-auto my-2">
        <input type="text" #firstName id="firstName" name="firstName" class="form-control mb-3 w-100" placeholder="Nombre" [(ngModel)]="student.firstName">
        <input type="text" #lastName id="lastName" name="lastName" class="form-control w-100" placeholder="Apellido" [(ngModel)]="student.lastName">
        <div class="gap-4 d-flex justify-content-center align-items-center my-2">
            <button type="submit" class="btn btn-success hove w-100" (click)="UpdateStudent()">Editar Estudiante</button>
            <button class="btn btn-secondary hover w-100" (click)="goBack()">Volver Atras</button>
        </div>
    </form>
</div>