<form id="form" class="d-flex flex-column gap-3 align-items-center justify-content-center my-2">
    <input type="text" #firstName id="firstName" name="firstName" class="form-control w-100" placeholder="Nombre">
    <input type="text" #lastName id="lastName" name="lastName" class="form-control w-100" placeholder="Apellido">
    <button id="btnAdd" type="submit" class="btn hover w-100" (click)="addNewStudent(firstName.value, lastName.value); firstName.value=''; lastName.value='' ">
        Agregar
    </button>
</form>