#link {
    cursor: pointer;
}

#link:hover {
    background-color: rgba(236, 233, 233, 0.897);
}

#nHero {
    font-weight: bold;
}

#form {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#btnAdd {
    background-color: #105652;
    color: white;
}

@media only screen and (max-width: 580px) {
    #items {
        flex-direction: column !important;
        gap: 10px;
    }
}

@media only screen and (max-width: 580px) {
    #link {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .center {
        text-align: center;
    }
}